.topic-navigation {
  .topic-next {
    display: block;
    margin-bottom: 0.75em;
  }
}

.topic-next-button {
  background-color: $tertiary;
  color: $secondary;
  transition: color 0s;

  .svg-icon,
  .svg-icon-title {
    height: 2.15em;
  }

  @include hover {
    background-color: $tertiary-medium;
    color: $secondary;

    .d-icon {
      color: $primary-low;
    }
  }
}
